<div class="chat-container" id="chat-box">
    <div class="chat-header">SmartConnect Chat</div>
    <div class="chat-messages" id="chat-box-messages">
      <!-- <div class="message user-message">
        <div class="avatar"><img src="\uploads\users\avatars/avatar-1700146987024-299049559" alt="Notfound"></div>
        <div class="message-bubble">User message</div>
        <div class="timestamp">10:30 AM</div>
      </div>
      <div class="message other-message">
        <div class="avatar"><img src="\uploads\users\avatars/avatar-1700146987024-299049559" alt="Notfound"></div>
        <div class="message-bubble-other">User Friend Message</div>
        <div class="timestamp">10:35 AM</div>
      </div> -->
      <!-- Add more messages here -->
    </div>
    <div class="message-input">
      <input id="input-message" type="text" class="input-field" placeholder="Type your message...">
      <button class="send-button" id="send-button">Send</button>
    </div>
  </div>