<li id="comment-<%= cmnt._id %>">
    <% if(locals.user && (locals.user.id == p.user.id || locals.user.id == cmnt.user.id)){%>
                    
        <div class="comment-delete-button">
            <a class="delete-comment-button" href="/comment/destroy/?id=<%= cmnt.id %>">Del Comment</a>
        </div>
        <%}
    %>
        <div>
            <%= cmnt.content %>
            <br>
            <small>
                <%= cmnt.user.email %>
            </small>
        </div>
   
</li>