<footer id="footer">
    <h3>
        smartConnect have all rights. 
    </h3>
    <ul>
       
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="https://github.com/ankurrrai" target="_blank">GitHub</a>
        </li>
        
    </ul>
</footer>