<header id="main-header">
    <a href="/"><h1>smartConnect</h1></a>
    <ul>
        <% if (locals.user) {%>
            <li>
                <a href="/">
                    Home
                </a>
            </li>
            <li>
                <span id="users-chat">Chat</span>
            </li>
            <li>
                <a href="/users/sign-out">Sign Out</a>
            </li>
            <%} else {%>
                <li>
                    <a href="/users/sign-in">Sign In</a>
                </li>
                <li>
                    <a href="/users/sign-up">Sign Up</a>
                </li>
            <%}
        %>
    </ul>
</header>