<h1>SmarConnect <%= title %> </h1>

<section>
    <% if(locals.user){%>

        <div id="new-post">
            <h4>Add Posts</h4>
            <form action="/posts/create" id="create-post" method="post">
                <textarea name="content" id="post-content" cols="30" rows="3" placeholder="Add Post..."></textarea>
                <input type="submit" value="Add Post">
            </form>
        </div>
    
        <%}
    %>
    
    
    
    <div id="all-post">
        <% if(post.length>0){%>
            <h4>All Posts</h4>
            <%}
        %>
        <ul>
            <% for (p of post) {%>
                <li>
                    <%- include('_post'); %>
                </li>
            <%}
            %>
        </ul>
        
    </div>
</section>

<section>
    <ul>
        <% for (u of  all_users) {%>
            <li>
                <a href="/users/profile/?id=<%= u.id %>"><%= u.name %></a>
            </li>
        <%} %>
        
    </ul>
</section>