<div id="reset-user-form" style="margin-top: 100px;">
    <form action="/users/reset" method="post">
        <input type="email" name="email" id="reset-email" placeholder="abc123@xyz.com" required>
        <input type="submit" value="Get Link">
    </form>
</div>