<link rel="stylesheet" href="/css/user_profile.css">
<h1>
    This is user <%= title %> page
</h1>

<div> <%= user %> </div>


<div>
    <div>
        <%= user.name %>
    </div>
    <div>
        <%= user.email %>
    </div>
</div>

<div>Test</div>
