<link rel="stylesheet" href="/css/user_profile.css">

<h1 id="title">
    This is user <%= title %> page
</h1>




<div id="user-details">
    <div>
        <%= currUser.name %>
    </div>
    <div>
        <%= currUser.email %>
    </div>
</div>

