<div>
    <p>Hi <%= accessToken.user.name %>,</p>
    <p>Please reset your password using this <a href="http://<%= mode %>/users/reset_password/?accessToken=<%=accessToken.accessToken%>">link</a></p>
    <p><small>Note: This link is valid for 10 min</small></p>
    <p>Regards <br>Team smartConnect</p>
</div>